html,
body {
  padding: 0%;
  margin: 0%;
}
.container {
  /* display: flex; */
  /* background: blueviolet; */
  height: 100vh;
  width: 100wh;
}
.upper {
  display: flex;
  background: #ffcd9e;
  height: 592px;
  width: 100wh;
}
.footer {
  display: flex;
  background: black;
  height: 298px;
  width: 100wh;
}

.upper-left {
  display: flex;
  background: #ffcd9e;
  width: 50vw;
  height: 592px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.upper-right {
  background: #ffcd9e;
  width: 50vw;
  height: 592px;
}
.footer-left {
  display: flex;
  background: #282828;
  width: 50vw;
  height: 298px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.left-side {
  position: absolute;
  background: #282828;
  width: 216px;
  height: 180px;
  left: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-wrap: nowrap;
  color: #ffffff;
}
.footer-right {
  display: flex;
  background: #282828;
  width: 50vw;
  height: 298px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.right-side {
  display: flex;
  position: relative;
  background: #282828;
  width: 216px;
  height: 180px;
  right: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-wrap: nowrap;
  color: #ffffff;
}

.box {
  /* background: purple; */
  max-width: 344px;
  width: 100%;
  height: 66px;
  top: 411px;
  left: 136px;
  position: absolute;
}
.text-box {
  /* Rectangle 9 */

  box-sizing: border-box;

  position: absolute;
  width: 344px;
  height: 64px;
  /* left: 136px;
    top: 411px; */

  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 8px;
  padding: 25px;
  font-weight: 600;
  font-size: medium;
}
.btn {
  /* Rectangle 5 */

  position: absolute;
  width: 216px;
  height: 64px;
  left: 360px;

  background: #282828;
  border-radius: 8px;
}
.input-text {
  /* Your e-mail address */

  position: absolute;
  width: 195px;
  height: 64px;
  left: 40px;
  /* top: 411px; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: medium;
  line-height: 160%;
  /* or 32px */
  display: flex;
  align-items: center;
  color: #888888;
}
.btn-text {
  /* Register Now */

  position: absolute;
  width: 216px;
  height: 64px;
  left: 0px;
  top: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.text {
  /* Free - No Spam - No Data Sharing */

  position: relative;
  width: 344px;
  height: 61px;
  left: -110px;
  top: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.image-area {
  /* dweep io 1 */

  position: absolute;
  width: 575px;
  height: 575px;
  left: 818px;
  top: 20px;
  box-sizing: border-box;
}
.image {
  width: 100%;
  height: 100%;
}
h2 {
  /* An inspiring design delivered to your inbox every morning */

  position: absolute;
  width: 562px;
  height: 108px;
  left: 136px;
  top: 83px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* or 54px */

  color: #282828;
}
p {
  /* Our team scouts the internet for the best designs, illustrations and art and delivers a truly inspiring one every day to your inbox */

  position: absolute;
  width: 495px;
  height: 81px;
  left: 136px;
  top: 219px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */
  display: flex;
  align-items: center;

  color: #484848;
}
strong {
  /* Show me how it looks */

  position: absolute;
  width: 227px;
  height: 81px;
  left: 136px;
  top: 315px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */
  display: flex;
  align-items: center;

  color: #282828;
}
.thankYou {
  /* Thank you! */

  position: absolute;
  width: 226px;
  height: 62px;
  left: 136px;
  top: 328px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 41.5102px;
  line-height: 150%;
  /* or 62px */

  color: #282828;
}
